*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utilities */

.color-white, .white-star{
    color:white;
}

.star-container{
    width: 100%;
    height: 100%;
}

.line{
    width: 70px;
    height: 3px;
    margin: 11px 5px 0;
    border-radius: 30px;
}

.star-symbol{
    display: flex;
}

.white-line{
    background-color: white;
}

.black-line{
    background-color: black;
}

.black-star{
    color: black;
}

.about-background, .contact-container{
    padding: 50px;
}

h2, h1, .upper-logo, h5{
    font-weight: 600;
}

/* header */
.background-header{
    background-color: #2C3E50;
    position: fixed;
    z-index: 4;
    width: 100%;
}

.white-hamburger{
    filter: invert(1);
}

.navbar-content a:hover, .upper-logo:hover{
    color: rgb(167, 167, 167);
}

/* main */

/* profile-section */

.profile-background{
    background-color: #1ABC9C;
    padding-top: 70px;
    padding-bottom: 40px;
}

.profile-container{
    height: 100%;
}

.profile-row{
    height: 100%;
}

.profile-img{
    background-color: #1ABC9C;
}

.profile-skill{
    list-style-type: none;
}

.profile-skill li{
    display: inline;
}

/* portfolio-section */

.portfolio-container{
    margin: 50px auto;
}

.portfolio-row{
    height: 100px;
}

h2{
   font-size: 30px;
}

.portfolio-cards:hover{
    filter: sepia(2) contrast(1);
    cursor: pointer;
}

/* about-section */

.about-background{
    background-color: #1ABC9C;
}

.about-container{
    height: 100%;
    color: white;
}

.about-row{
    height: 100%;
}

.white-title, .white-star{
    height: 50px;
}

/* contact-section */
.form-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-button{
    background-color: #1ABC9C;
    border: none;
    margin-top: 10px;
}

.contact-button:hover{
    background-color: #189b81;
}

/* info-section */
.info-background{
    padding-bottom: 50px;
    background-color: #3A546D;
}
.info-container{
    height:100%;
    padding: 0 50px;
}

.info-row{
    height: 100%;
}

.info-content{
    color: white;
    text-align: center;
}

.info-content h5{
    width: 100%;
    text-align: center;
    margin-top: 50px;
} 

.info-icons{
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding-top: 6px;
    margin: 3px;
}
/* fine main */

/* footer */
.background-footer{
    background-color: #2C3E50;
}

.copyright{
    color: white;
    font-size: 12px;
}

#start{
    text-decoration: none;
    color: #1ABC9C;
}

#start:hover{
    text-decoration: underline;
    color: #189b81;
}