/* header */

.background-header{
    background-color: aqua;
    height: 50px;
}

.header-row{
    height: 50px;
}

.green{
    background-color: green;
    height: 100%;
}

.yellowgreen{
    background-color: greenyellow;
    height: 100%;
}

/* main */

/* profile-section */

.profile-background{
    background-color: aquamarine;
    height: 500px;
}

.profile-container{
    height: 100%;
}

.profile-row{
    height: 100%;
}

.dashed{
    border: 1px dashed purple;
    height: calc(450px / 4);
}

/* portfolio-section */

.portfolio-container{
    height: 500px;
}

.portfolio-row{
    height: 100%;
}

.black-h2, .black-star{
    background-color: gray;
    border: 1px solid white;
    height: 50px;
}

.portfolio-cards{
    background-color: purple;
    border: 3px solid white;
    height: 200px;
}

/* about-section */

.about-background{
    background-color: aquamarine;
    height: 300px;
}

.about-container{
    height: 100%;
    background-color: rgb(0, 49, 33);
    color: white;
}

.about-row{
    height: 100%;
}

.white-title, .white-star{
    background-color: white;
    border: 2px solid black;
    height: 50px;
}

.about-content{
    border: 1px dashed rgb(0, 0, 0);
    height: 200px;
}

/* contact-section */

.contact-container{
    height: 500px;
}

.contact-row{
    height: 100%;
}

.form{
    height: 400px;
 }

.form-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-col-12, .form-button{
    background-color: rgb(188, 133, 240);
    height: 100%;
    border: 1px solid black;
    height: 50px;
}

/* info-section */

.info-background{
    height: 150px;
    background-color: rgb(40, 40, 99);
}
.info-container{
    height:100%;
}

.info-row{
    height: 100%;
}

.info-content{
    border:  1px solid white;
}

/* fine main */
/* footer */

.background-footer{
    height: 50px;
    background-color: rgb(1, 1, 41);
}

.footer-container, .footer-row{
    height: 100%;
}

.copyright{
    background-color: rgb(45, 121, 121);
}